.App {
  text-align: center;
  background-color: #212121;
  color: white;
}

.Wrapper {
  width: 414px;
  padding: 20px 0 200px 0;
  margin: auto;
}

.App-header {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.Button-wrapper {
  text-align: center;
}

.Button {
  background-color: #4DD0E1;
  border: none;
  border-radius: 50px;
  color: white;
  padding: 16px 32px;
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 20px;
  width: 60%;
}

.Card {
  border: 1px solid white;
  border-radius: 16px;
  padding: 40px;
  margin: 40px;
  text-align: left;
}

.Dropdown {
  margin-left: 8px
}


.Form {
  text-align: left;
  padding: 20px;
}

.Form-input {
  border-radius: 50px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #424242;
  color: white;
}

.Separator {
  background: #fff;
  margin: 40px 0;
}
