.App {

  /* background-color: #282c34; */
  text-align: center;
  background-color: #212121;
  color: white;
}

.Wrapper {
  text-align: center;
  width: 500px;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

.Search {
  border: 1px solid white;/* #021aee; */
  text-align: left;
  padding: 16px;
  margin: 20px;
  border-radius: 50px;
}

.Button-wrapper {
  text-align: center;
}

.Button {
  background-color: #4DD0E1;
  border: none;
  border-radius: 50px;
  color: white;
  padding: 16px 32px;
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 20px;
  width: 50%;
}

.Ghost-button {
  /* border: 1px solid white;/* #021aee; */
  border: none;
  background-color: #4DD0E1;
  border-radius: 50px;
  /* color: white; */
  margin: 20px 0px;
  padding: 8px 24px;
}

.Card {
  border: 1px solid white;/* #021aee; */
  border-radius: 16px;
  padding: 40px;
  margin: 40px;
  text-align: left;
}

/* .Drink-list {
  margin: none;
} */

.Form {
  text-align: left;
  padding: 20px;
}

.Form-input {
  /* border: 1px solid white;/* #021aee; */
  border-radius: 50px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: #424242;
  color: white;
}

.Form-wrapper {
  padding-top: 50px;
}

/* .Label {
  font-size: 16px; 
  padding: 0 0 0 20px;
  text-align: left;
} */